.section-pane-footer {
  padding: 120px 0;
}

.pane-footer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
}

.pane-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -49px;
  transform: translate(-100%, 0%);
  width: 41px;
  height: 68px;
  background-image: url(../icons/vector-01.svg);
}

.pane-footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -34px;
  width: 47px;
  height: 54px;
  background-image: url(../icons/vector-02.svg);
}

.pane-footer__img {
  border-radius: 120.5px;
  width: 250px;
  flex: 1;
  flex-grow: 0.8;
  overflow: hidden;
}

.pane-footer__img--huge {
  border-radius: 135px;
  width: 290px;
}
